/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  font-family: 'Lato', sans-serif;
  background:#666;
  color:#fff;
}

/* POST-IT template */
.post-it {
  position: relative;
  color:#000;
  background:#ffc;
  display:block;
  height:12em;
  width:12em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
  transition: transform .15s linear;
  margin:1em;
}

.post-it__text h2 {
  font-weight: bold;
  font-size: 1.7rem;
}

.post-it__text p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2rem;
}

.post-it:nth-child(even) {
  transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.post-it:nth-child(3n) {
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

.post-it:nth-child(5n) {
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.post-it:hover,ul li:focus {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}
/* END POST-IT template */


/* HEADER */
h1 {
  text-align: center;
  margin: 10px 0 25px 0;
}

.header__container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.header__container .post-it {
  transform: none;
}

.header__container .post-it:hover {
  transform: scale(1.25);
}

.header__container input {
  margin-top: 10px;
  line-height: 35px;
  border: 1px solid black;
  border-radius: 10px;
}

.header__container .post-it i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: black;
}

.header__container .post-it i:hover {
  cursor: pointer;
  user-select: none;
  color: blue;
}

#error-message {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

/* MAIN */
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__container .post-it.done::after {
  content: '\2714';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(1, 224, 1, 0.733);
}

.main__container .post-it i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: black;
  z-index: 999;
}

.main__container .post-it i:hover {
  cursor: pointer;
  user-select: none;
  color: red;
}












